<div class="main">
  <div class="col1">
      <ul>
          <li><b>Practice</b></li>
          <li><a href="#">The {{centre}} Study Plan</a> </li>
          <li><a href="#">{{centre}} Masterclass</a> </li>
          <li><a href="#">{{centre}} Progress Check</a> </li>
          <li><a href="#">{{centre}} Writing Assist</a> </li>
      </ul>
  </div>
  <div class="col1">
    <ul>
        <li><b>About us</b></li>
        <li><a href="#">The {{centre}} Study Plan</a> </li>
        <li><a href="#">{{centre}} Masterclass</a> </li>
        <li><a href="#">{{centre}} Progress Check</a> </li>
        <li><a href="#">{{centre}} Writing Assist</a> </li>
    </ul>
</div>

<div class="col2">
    <ul>
        <li><b>Language</b></li>
    </ul>
    <ul>
        <li><a href="#"><img src="../../assets/globe.png"></a> </li>
        <li><a href="#">&nbsp; English</a> </li>
    </ul>
    <ul>
        <li><b>IDP {{centre}}</b></li>
    </ul>
    <ul>
        <li><a href="#"><img src="../../assets/Facebook.svg">&nbsp;</a> </li>
        <li><a href="#"><img src="../../assets/Youtube.svg">&nbsp;</a> </li>
        <li><a href="#"><img src="../../assets/Instagram.svg">&nbsp;</a> </li>
        
    </ul>
</div>
</div>
<div class="clr"></div>
<div class="submain">
    <ul>
        <li class="img1"><a href="#"><img src="../../assets/IDP.svg"></a> </li>
        <li class="img1"><a href="#"><img src="../../assets/IETLS_white.svg"></a> </li>
        <li><a href="#">IDP Education</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#"></a>Terms</li>
        <li><a href="#"></a>Legal Notices</li>
        <li><a href="#"></a>
            IELTS Referal Program</li>
        <li><a href="#">Copyright 2020 IELTS Australia</a></li>

    </ul>
</div>