
<div class="main">
    <div class="top-left">
        <a routerLink="home"> <img src="../../assets/ielts.PNG" width="" height=""></a>
    </div>
    <div class="top-nav">
        <ul>
            <li class="alt"  ><a routerLink="about">About &nbsp;</a>

                <div class="submenu">
                    <div class="drop1">
                    <ul>
                      <li class="alt1"><a routerLink="ab1" (click)="abi()" >About IELTS</a></li>
                      <div class="border"></div><br><br>
                      <li class="alt1"><a routerLink="g1" (click)="gt()" >General Training</a></li>
                      </ul>
                      <div class="border"></div><br><br>
                    
                    
                     
                    </div>
                    <div class="drop1">
                    <ul>
                      <li class="alt1"><a routerLink="faq" (click)="faq()">FAQ </a></li>
                      <div class="border"></div>
                      <br><br>
                      <li class="alt1"><a routerLink="spk"  (click)="spk()">Speaking Test</a></li>
                      <div class="border"></div>
                      <br><br>
                    </ul>
                </div>
        </div>
                 
            </li>
            <li class="alt"  ><a routerLink="prepare">Prepare</a></li>
            <li  class="alt" ><a routerLink="result">Result</a></li>
            <li  class="alt" ><a routerLink="find">Find a test center</a></li>
        </ul>
    </div>
    <div class="top-right">
        <ul>
            <li class="active"><a routerLink="test"><img class="img" src="../../assets/calendar.svg"> &nbsp; Book a test</a> </li>
        </ul>
</div>
</div>
<div class="clr"></div>