<div class="main">
    <div class="section1">
        <img [src]="value" width="760" height="462">
    </div>
    <div class="section2">
        
        <h1>This should be a maximum of seventy two characters. This should be a max</h1>

        <h5>30 Oct 2020</h5>
        <p>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</p>
        <a class="left" href="#">Learn more about us &nbsp; &nbsp; <img src="../../assets/red_arrow_right.svg"></a>
        <h6 class="right">Cost: $49.95</h6>
    </div>
</div>
<div class="clr"></div>
<div class="container1">
    <h1>Lorem ipsum dolor sit amet</h1>
    <div class=col1>
        <img class="col1-img" src="../../assets/org_img1.png" width="177" height="165">
        <div class="col1-content">
            <h2 class="content1">Book your Test</h2>
            <p class="content1-para">Ready to book your IELTS test? Find your closest IELTS test centre here.</p>
        </div>

    </div>
    <div class=col1>
        <img class="col1-img" src="../../assets/org_img2.png" width="177" height="165">
        <div class="col1-content">
            <h2 class="content1">Prepare</h2>
            <p class="content1-para">We are here to support<br>
                you to achieve your goals.</p>
        </div>

    </div>
    <div class=col1>
        <img class="col1-img" src="../../assets/org_img3.png" width="177" height="165">
        <div class="col1-content">
            <h2 class="content1">Results</h2>
            <p class="content1-para">Get your results or<br>
                find out about IELTS results</p>
        </div>

    </div>
</div>
<div class="clr"></div>

<div class="containter2">

    <h1>Lorem ipsum dolor sit amet</h1>
    <div class="colu1">
        <img class="cont-img" src="../../assets/fea_image.png" width="349" height="235">
        <div class="cont1">
            <h2>IELTS Writing Task 2: 8 steps towards a Band 8</h2>
        </div>
    </div>

    <div class="colu1">
        <img class="cont-img" src="../../assets/fea_image.png" width="349" height="235">
        <div class="cont1">
            <h2>IELTS Writing Task 2: 8 steps towards a Band 8</h2>
        </div>
    </div>

    <div class="colu1">
        <img class="cont-img" src="../../assets/fea_image.png" width="349" height="235">
        <div class="cont1">
            <h2>IELTS Writing Task 2: 8 steps towards a Band 8</h2>
        </div>
    </div>


</div>



<div class="clr"></div>
<div class="container3">
    <h1>Lorem ipsum dolor sit amet</h1>
    <div class="column1">
        <img class="column1-img" src="../../assets/Image.jpg" width="348" height="239">
        <div class="column1-contents">
            <h4>Author Profile</h4>
            <h2>Learn about IELTS</h2>
            <p>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</p>
            <a class="left" href="#">Read More &nbsp; &nbsp; <img src="../../assets/red_arrow_right.svg"></a>
        <h6 class="right">Cost: $49.95</h6>
        </div>
    </div>

    <div class="column1">
        <img class="column1-img" src="../../assets/Image.jpg" width="348" height="239">
        <div class="column1-contents">
            <h4>Author Profile</h4>
            <h2>Learn about IELTS</h2>
            <p>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</p>
            <a class="left" href="#">Read More &nbsp; &nbsp; <img src="../../assets/red_arrow_right.svg"></a>
        <h6 class="right"></h6>
        </div>
    </div>

    <div class="column1">
        <img class="column1-img" src="../../assets/Image.jpg" width="348" height="239">
        <div class="column1-contents">
            <h4>Author Profile</h4>
            <h2>Learn about IELTS</h2>
            <p>This is a brief description to give users context to the website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, id preti</p>
            <a class="left" href="#">Read More &nbsp; &nbsp; <img src="../../assets/red_arrow_right.svg"></a>
        <h6 class="right"></h6>
        </div>
    </div>
</div>

<div class="clr"></div>

<div class="container4">
    <img class="vid-img" src="../../assets/video_cover.png" width="1100" height="560"><br>
    <a href="#"><img class="vid-icon" src="../../assets/vid_icon.png"></a>
    <div class="box-content">
        <h1>The world’s leading English test for study</h1>
       
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida nunc proin aliquam sit libero pretium. Massa elementum diam malesuada fusce sed mi ornare ullamcorper sit. Cursus vestibulum facilisis sem dui, sed sit rutrum in ut.</p>
        <a class="link1" href="#"><b>Learn more about us &nbsp; &nbsp;</b> <img src="../../assets/right_arrow1.svg"> </a>
        <a class="link1" href="#"><b>Learn more about us </b></a>
    </div>
</div>

<div class="clr"></div>
<div class="container5">
    <div class="container5-left">
        <img src="../../assets/quote.png">
        <h1>With the initial steps of getting my required score from IELTS I was able to apply for a PR</h1>
        <h4>Terezia T.</h4>
        <p>- IELTS Centre</p>
    </div>
    <div class="container5-left">
        <img src="../../assets/testimonial.png">
    </div>
</div>

<div class="clr1"></div>
<div class="container6">
    <div class="container6-column1">
        <div class="row1">
            <img class="linkimg" src="../../assets/link_image.png" >
            <img class="fb-icon" src="../../assets/Facebook.png">
        </div>
        <div class="row2">
            <img class="fb-icon1" src="../../assets/Facebook.png">
            <h4>6 March 2020</h4>
            <h3>Lorem Ipsum is simply dummy text of the printing and industry printing and typesetting industry printing and typesetting industry.</h3>
            
        </div>

    </div>
    <div class="container6-column1">
        <div class="img class">
            <img src="../../assets/post_big.png" height="567">
            <img class="fb-icon2" src="../../assets/Facebook.png">
        </div>
    </div>
    <div class="container6-column1">
        <div class="row21">
            <img class="fb-icon1" src="../../assets/Facebook.png">
            <h4>6 March 2020</h4>
            <h3>Lorem Ipsum is simply dummy text of the printing and industry printing and typesetting industry printing and typesetting industry.</h3>
            
        </div>

        <div class="row12">
            <img class="linkimg" src="../../assets/link_image.png" >
            <img class="fb-icon" src="../../assets/Facebook.png">
        </div>
    </div>

</div>

<div class="clr"></div>
<div class="container7">
    <img class="container7-img" src="../../assets/help_icon.svg">
    <h1 class="container7-1">&nbsp; Need to talk someone?<a href="#"> Email</a> or <a href="#">Message </a>us</h1>
</div>